@font-face {
    font-family: "OpenSans-Bold";
    src: url("@/assets/fonts/OpenSans/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "OpenSans-Medium";
    src: url("@/assets/fonts/OpenSans/OpenSans-Medium.ttf");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url("@/assets/fonts/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("@/assets/fonts/OpenSans/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: "Gilroy-Semibold";
    src: url("@/assets/fonts/Gilroy-Semibold.ttf");
}